*{
    margin: 0;padding: 0;box-sizing: border-box;
  }
  body{
    background-image: url(/Food_Recipe/food_recipe_backgrount_img.jpg);
    background-size:cover ;
  }
  .heading{
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-family: 'ui-monospac';
    color: blueviolet;
  }
  .textArea{
    text-align: center;
    padding: 20px;
  }
  input{
    width: 30rem;
    padding: 6px;
    font-size: 23px;
    border-radius: 8px;
  }
  button{
      padding: 10px;
      border-radius: 4px;
      margin-top: 16px;
      font-size: 22px;
      width: 95px;
  }
  #main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 20px;
   flex-wrap: wrap;
  }
  .gallery{
    padding: 8px;
   min-width: none;
    border: 2px solid white;
    margin: 10px;
    height: 416px;
    background-color: rgb(187 174 174);
    color: #292727;
    box-shadow: 0px 0px 5px 8px rgb(187 174 174);
  }
  .gallery:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 8px rgb(226, 135, 135);
  }
  .img-recipe{
    width: 225px;
    height: 190px;
  }
  li{
    justify-content: space-around;
    margin: 8px;
    font-size: 18px;
    list-style: none;
  }
  .recipeName{
  width: 206px;
  height: 50px;
  }
  .link{
    text-decoration:none;
  }
  